<mat-card class="speaker-card" [@slideInRight]>
  <mat-card-content *ngIf="profileUrl | async;let url;else loadingImage">
    <div class="photo-container">
      <img class="photo" mat-card-image [src]="url" alt="Photo of Elon Musk">
      <div class="info-container">
        <div>
          <h2 class="speaker-name">{{speaker.name}}</h2>
          <h3 class="speaker-companies">{{speaker.companies}}</h3>
        </div>
      </div>
    </div>
    <p class="intro">
      {{speaker.intro}}
    </p>
  </mat-card-content>
  <mat-card-footer class="footer">
    <a *ngIf="speaker.twitter" mat-icon-button [href]="'https://twitter.com/' + speaker.twitter" target="_blank" class="link">
      <mat-icon svgIcon="twitter" class="icon"></mat-icon>
    </a>
    <a *ngIf="speaker.instagram" mat-icon-button [href]="'https://www.instagram.com/' + speaker.instagram" target="_blank" class="link">
      <mat-icon svgIcon="instagram" class="icon"></mat-icon>
    </a>
    <a *ngIf="speaker.facebook" mat-icon-button [href]="'https://www.facebook.com/' + speaker.facebook" target="_blank" class="link">
      <mat-icon svgIcon="facebook" class="icon"></mat-icon>
    </a>
    <a *ngIf="speaker.googlePlus" mat-icon-button [href]="'https://plus.google.com/' + speaker.googlePlus" target="_blank" class="link">
      <mat-icon svgIcon="google-plus" class="icon"></mat-icon>
    </a>
    <a *ngIf="speaker.linkedIn" mat-icon-button [href]="'https://www.linkedin.com/in/' + speaker.linkedIn" target="_blank" class="link">
      <mat-icon svgIcon="linked-in" class="icon"></mat-icon>
    </a>
    <a *ngIf="speaker.web" mat-icon-button [href]="speaker.web" target="_blank" class="link">
      <mat-icon svgIcon="web" class="icon"></mat-icon>
    </a>
  </mat-card-footer>
</mat-card>
<ng-template #loadingImage>
    <mat-card-content class="spinner-container">
      <mat-spinner [diameter]="175"></mat-spinner>
    </mat-card-content>
</ng-template>
