<mat-card class="speaker-card" [@slideInRight]>
  <mat-card-content *ngIf="profileUrl | async;let url;else loadingImage">
    <div class="photo-container">
      <img class="photo" mat-card-image [src]="url" alt="Photo of Elon Musk">
      <div class="info-container">
        <div>
          <h2 class="speaker-name">{{speaker.name}}</h2>
          <h3 class="speaker-companies">{{speaker.companies}}</h3>
        </div>
      </div>
    </div>
    <p class="intro">
      {{speaker.intro}}
    </p>
  </mat-card-content>
  <mat-card-footer class="footer">
    <a mat-icon-button href="https://twitter.com/DevFest_CZ" target="_blank" class="link">
      <mat-icon svgIcon="twitter" class="icon"></mat-icon>
    </a>
    <a mat-icon-button href="https://www.instagram.com/devfestcz/" target="_blank" class="link">
      <mat-icon svgIcon="instagram" class="icon"></mat-icon>
    </a>
    <a mat-icon-button href="https://www.facebook.com/DevFestCZ" target="_blank" class="link">
      <mat-icon svgIcon="facebook" class="icon"></mat-icon>
    </a>
  </mat-card-footer>
</mat-card>
<ng-template #loadingImage>
    <mat-card-content class="spinner-container">
      <mat-spinner [diameter]="175"></mat-spinner>
    </mat-card-content>
</ng-template>
