$card-width: 320px;
.speaker-card {
  width: $card-width;
  .photo-container {
    margin: 0;
    height: $card-width - 48px;
    .photo {
      margin-bottom: 0;
    }

    .speaker-name {
      font-family: Roboto, serif;
      font-weight: 500;
      font-size: 1.2rem;
      margin: 0;
    }

    .speaker-companies {
      font-family: Roboto, serif;
      font-weight: 400;
      margin: 0;
    }

    .info-container {
      position: relative;
      left: -24px;
      top: -64px;
      padding-left: 24px;
      padding-bottom: 24px;
      width: $card-width + 24px;
      justify-self: flex-end;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }
  }

  .intro {
    position: relative;
    margin-top: 88px;
    padding: 12px 0;
    font-size: 1rem;
  }

  .footer {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 16px;
    .link {
      margin: 8px 8px;
      .icon {
        height: 36px;
        width: 36px;
      }
    }
  }

}
